.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.imageBox {
  margin-bottom: 20px;
}

.imageBox,
.imageBox img {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.field {
  display: flex;
  width: 40%;
}

.fieldLabel {
  font-size: 17px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  width: 33%;
  margin: 5px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 65%;
  margin: 5px;
}

.inputBox input {
  padding: 5px;
  height: 30px;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inputBox textarea {
  resize: none;
  padding: 5px;
  height: 100px;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.save {
  background-color: yellowgreen;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .field {
    display: flex;
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .field {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: left;
    align-items: center;
  }

  .fieldLabel {
    width: 65%;
  }

  .save {
    background-color: yellowgreen;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    font-weight: 600;
    cursor: pointer;
  }
}
